<div>
  <p>
    <%= current_year %><br>
    created by <%=link_to '@grabergt', github_url('grabergt'), target: '_blank' %><br>
    <%= link_to 'Test Guru', github_url('GraberGT', 'Thinknetica_2'), target: '_blank' %><br>
    Beautiful solution for online testing<br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
  </p>
</div>
